<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
        <body>
            <div class="jumbotron">
                <div>
                    <img src="/assets/images/Profil.jpeg" name="profile" width="300px" height="300px">
                </div>
                <div style="display:flex; margin-top: 20px; width:fit-content;">
                    
                    <div style="margin-left: 30px">
                        <P style="font-size: 20px"> The limited opportunity of trying it out and the instant knowledge of the outcome that encourages one for further analysis of the reasoning in question is what I find most appealing about Artificial Intelligence. Keeping up an inquisitive and explorative attitude, I believe, leads to a constant learning process. <br>

                           </P>
                           <a href="https://online.flippingbook.com/view/559507734/">
                            <button class="button button5">Resume </button></a>
                    </div>            
                    
                    
                </div>
               
            </div>

        </body>
        <%- include partials/bottom_nav.ejs %>
            <%- include partials/footer.ejs %>

</html>