<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <!-- <main class="container"> -->
    <!-- <div class="jumbotron">
      
      
    </div> -->
    <header class="bg-dark py-5">
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-8 col-xl-7 col-xxl-6">
                  <div class="my-5 text-center text-xl-start">
                      <h1 class="display-5 fw-bolder text-white mb-2">WEB DEVELOPMENT | WEB APPLICATION</h1>
                      
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <div>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a class="btn btn-outline-light btn-lg px-4" href="/Users/macbookair/Desktop/web/views/products.ejs">Projects</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div>
          </div>
      </div>
  </header>
    <div class="p-5 text-center" style="
      background-image: url('https://c4.wallpaperflare.com/wallpaper/929/4/853/abstract-ae-plexus-wallpaper-preview.jpg');width: 100%;height: max-content;">
      <div class="jumbotron">
        <h1>Genesis</h1>
        <p class="display-4" style="font-size: 20px">WEB DEVELOPMENT | WEB DESIGNING | WEB APPLICATION</p>

      </div>
      <div class="jumbotron">
        <h1>Target</h1>
        <p class="display-4" style="font-size: 20px">Looking forward to an opportunity in an atmosphere where I can make a difference, and not just be another payroll figure, with an ambitious pace and desire to scale the peaks of professional excellence.</p>

      </div>
    </div>
    <!-- </main> -->


    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>