<html>
<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <body>
      <div class="jumbotron">
        <div style="display: flex;justify-content: space-between;">
          <div style="background-color: white;width: 27.5%">
            <div class="card">
              <img
                src="assets/images/CS.jpeg"
                width="100%">

            </div>
            <!-- Button trigger modal -->
            <button style="margin-left: 100px; margin-top: 7px" type="button" class="button5"
              data-toggle="modal" data-target="#projectOneModel">
              More Detail
            </button>
            <!-- Modal -->
            <div class="modal fade" id="projectOneModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cyber Security</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <img
                        src="assets/images/CS.jpeg"
                        width="100%">
                    </div>
                    <div>The protection of computer systems and networks from information disclosure, theft, or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they offer, is known as computer security, cybersecurity, or information technology security.</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div style="background-color: white;width: 27.5%">
            <div class="card">
              <img
                src="assets/images/DT.jpeg"
                width="100%">

            </div>
            <!-- Button trigger modal -->
            <button style="margin-left: 100px; margin-top: 7px" type="button" class="button5"
              data-toggle="modal" data-target="#projectSecondModel">
              More Detail
            </button>
            <!-- Modal -->
            <div class="modal fade" id="projectSecondModel" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AI & Machine Learning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <img
                        src="assets/images/DT.jpeg"
                        width="100%">
                    </div>
                    <div> Data science is an interdisciplinary field that applies information from data across a wide range of application fields by using scientific methods, procedures, algorithms, and systems to infer knowledge and insights from noisy, structured, and unstructured data.</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div style="background-color: white;width: 27.5%">
            <div class="card">
              <img
                src="assets/images/AI.jpeg"
                width="100%">

            </div>
            <!-- Button trigger modal -->
            <button style="margin-left: 100px; margin-top: 7px" type="button" class="button5"
              data-toggle="modal" data-target="#projectSecondModel">
              More Detail
            </button>
            <!-- Modal -->
            <div class="modal fade" id="projectSecondModel" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AI & Machine Learning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="card">
                      <img
                        src="assets/images/AI.jpeg"
                        width="100%">
                    </div>
                    <div>AI is used by "intelligent" computers to mimic human thought and carry out independent activities. The process by which a computer system becoming intelligent is called machine learning. Using a neural network, which is a collection of algorithms based after the human brain, is one method for teaching a computer to imitate human reasoning.</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

         

          
                </div>
              </div>
            </div>
</div>
          </div>
        </div>
       
        </div>
      </div>
    </body>
    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>

</html>